/*google-font import */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;500&display=swap");

/*Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
    color: rgb(98, 87, 92);
}

.container {
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header {
    font-family: "Anton", sans-serif;
    color: pink;
    text-shadow: 1px 1px 5px #fff;
    text-transform: capitalize;
    font-size: 1.5rem;
}

svg {
    fill: pink;
    stroke: #fff;
    transform: translateY(-15px) rotate(25deg);
}

.app-description {
    font-family: "Roboto", sans-serif;
    text-indent: 16px;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 16px;
}

.app-description span {
    text-transform: capitalize;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"] {
    padding: 3px;
    margin: 3px;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #fff;
    border: none;
}

input[type="text"]::placeholder {
    color: rgb(98, 87, 92);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

button[type="submit"] {
    margin-top: 15px;
    height: 2.5rem;
    width: 80%;
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(98, 87, 92);
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

button[type="submit"]:hover {
    box-shadow: 2px 2px 5px rgb(98, 87, 92);
}

.load-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #fff;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: pink;
    transform: rotate(45deg);
    margin-bottom: 3rem;
    animation: heartbeat 1s infinite;
}

.heart::before,
.heart::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: pink;
}

.heart:before {
    top: -50px;
}
.heart:after {
    left: -50px;
}

@keyframes heartbeat {
    0% {
        transform: rotate(45deg) scale(0.8);
    }
    50% {
        transform: rotate(45deg) scale(1);
    }
    100% {
        transform: rotate(45deg) scale(0.8);
    }
}

.result {
    margin-top: 3rem;
    text-align: justify;
    font-family: 'Robot', sans-serif;
    text-decoration: underline;
    font-weight: bolder;
}

@media screen and (min-width: 580px) {
    .main-header {
        font-size: 3rem;
    }
}
